### 库导入

In [1]:
import pandas as pd

### 数据加载与预处理

In [8]:
# 读取原始数据文件
df_raw_buyback = pd.read_excel("./data/raw/股份回购.xlsx", dtype={"SCode": str}, skiprows=[1], nrows=10)
df_raw_dividend = pd.read_excel("./data/raw/分红实施内容.xlsx", dtype={"SCode": str}, skiprows=[1], nrows=10)

print(df_raw_buyback.head())
print(df_raw_dividend.head())
print(df_raw_buyback.info())
print(df_raw_dividend.info())

    SCode     BPAmtDy     SoAmDAD     RepMaNum   RepMiNum RepType RepProc  \
0  000002  2015-07-06  2015-09-01   12480299.0   12480299    普通回购    实施完成
1  000002  2022-03-31         NaN  136836344.0  109469075    普通回购     实施中
2  000004  2021-05-27         NaN    9049599.0    9049599    普通回购    完成实施
3  000004  2022-04-30  2022-05-21   23155018.0   23155018    普通回购  股东大会通过
4  000004  2023-04-29  2023-05-20     939474.0     939474    普通回购     实施中

         MaxPrc        MinPrc  AvePrc       RepSN       RepAmt     RepSDat  \
0  1.000000e+10           NaN   12.83  12480299.0  160148520.0  2015-09-01
1  2.500000e+09  2.000000e+09   17.94   3457870.0   61845219.3  2022-03-30
2  1.000000e+00  1.000000e+00    0.00   9049599.0          1.0         NaN
3  1.000000e+00  1.000000e+00     NaN         NaN          NaN         NaN
4  1.000000e+00  1.000000e+00     NaN    467726.0          0.5         NaN

      RepDDat
0  2015-12-31
1  2022-06-30
2         NaN
3         NaN
4         NaN
    SCode CoName  Year ImProgress  IDPR_PreTax  IDPR_AftTax  IBnsIssRt  \
0  000001   平安银行  1991       实施完毕          0.2          0.0       0.50
1  000001   平安银行  1992       实施完毕          0.3          0.0       0.35
2  000001   平安银行  1993       实施完毕          0.5          0.0       0.30
3  000001   平安银行  1994       实施完毕          0.3          0.0       0.20
4  000001   平安银行  1995       实施完毕          0.0          0.0       0.50

   IEqTnRt     EqBenmk   EqBenmkDt       AnnDt    RecordDt        DRDt  \
0      0.0      0.0000         NaN  1992-03-14  1992-03-20  1992-03-23
1      0.5   8975.1643  1992-12-31  1993-05-09  1993-05-21  1993-05-24
2      0.2  26941.7898  1993-12-31  1994-07-02  1994-07-08  1994-07-11
3      0.0  43106.8638  1994-12-31  1995-09-15  1995-09-22  1995-09-25
4      0.5  51728.2364  1995-12-31  1996-05-23  1996-05-24  1996-05-27

        DPRDt   BnsShrLDt
0  1992-03-23  1992-03-23
1  1993-05-24  1993-05-24
2  1994-07-14  1994-07-14
3  1995-09-27  1995-09-27
4         NaN  1996-05-29
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SCode     10 non-null     object
 1   BPAmtDy   10 non-null     object
 2   SoAmDAD   4 non-null      object
 3   RepMaNum  9 non-null      float64
 4   RepMiNum  10 non-null     int64
 5   RepType   10 non-null     object
 6   RepProc   10 non-null     object
 7   MaxPrc    10 non-null     float64
 8   MinPrc    9 non-null      float64
 9   AvePrc    7 non-null      float64
 10  RepSN     8 non-null      float64
 11  RepAmt    8 non-null      float64
 12  RepSDat   3 non-null      object
 13  RepDDat   3 non-null      object
dtypes: float64(6), int64(1), object(7)
memory usage: 1.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SCode        10 non-null     object
 1   CoName       10 non-null     object
 2   Year         10 non-null     int64
 3   ImProgress   10 non-null     object
 4   IDPR_PreTax  10 non-null     float64
 5   IDPR_AftTax  10 non-null     float64
 6   IBnsIssRt    10 non-null     float64
 7   IEqTnRt      10 non-null     float64
 8   EqBenmk      10 non-null     float64
 9   EqBenmkDt    9 non-null      object
 10  AnnDt        10 non-null     object
 11  RecordDt     10 non-null     object
 12  DRDt         10 non-null     object
 13  DPRDt        9 non-null      object
 14  BnsShrLDt    8 non-null      object
dtypes: float64(5), int64(1), object(9)
memory usage: 1.3+ KB
None

In [ ]:
# 查看数据基本信息